@model StudentElection.Models.Student

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
@*@using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="postedFile" />
    <input type="submit" value="Import" />
}*@

